.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center, flex-start;
  height: 100vh;
  
  .homepage-services {
    color: #087551;
    font-size: 28px;
    text-align: center;
    position: relative;
  }
  h2 {
    font-size: 24px;
    color: black;
    // margin-bottom: 10px; // margin between the header and the card
    text-align: center;
  }
  .g-4 .col {
    margin-bottom: 30px; // margin between the cards
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: gray;
  }
  .g-4 {
    margin: 5px 0; // margin around the cards
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    // transition effect when scaling
    @media (max-width: 768px) {
      transform: scale(0.9); // reduce card size
    }
  }
  .card-title {
    font-size: 20px;
    text-align: center;
  }
  .card-text {
    font-size: 16px;
  }
}

// @media (max-width: 768px) {
//   // Reduce font sizes and margins for smaller screens
//   .homepage-services {
//     font-size: 12px;
//   }
//   h2 {
//     font-size: 12px;
//   }
//   .g-4 .col {
//     margin-bottom: 12px;
//   }
//   .card-title {
//     font-size: 30px;
//   }
//   .card-text {
//     font-size: 10px;
//   }
// }
