/* index.scss */

.home-page {
  display: flex;
  flex-direction: column; /* Change to a vertical layout */
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */

  .homepage-services {
    color: #087551;
  }

  h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px; /* Add margin to create space between the header and the card */
  }

}

